= form_for [:admin, rule], local: true do |form|
  - if rule.errors.any?
    #error_explanation
      %h2
        = pluralize(rule.errors.count, "error")
        prohibited this rule from being saved:
      %ul
        - rule.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title, id: :rule_title
  .field
    = form.label :body
    = form.text_area :body, id: :rule_body
  .field
    = form.label :min_players
    = form.number_field :min_players, id: :rule_min_players
  .actions
    = form.submit
