%hr
%table
  %tr
    %td
      %h2 Cards:
    %td
      = link_to "View Cards", admin_cards_path
    %td
      = link_to "Create a Card", new_admin_card_path

%table
  %tr
    %td
      %h2 Decks:
    %td
      = link_to "View Decks", admin_decks_path
    %td
      = link_to "Create a Deck", new_admin_deck_path

%table
  %tr
    %td
      %h2 Rules:
    %td
      = link_to "View Rules", admin_rules_path
    %td
      = link_to "Create a Rule", new_admin_rule_path
