<h1>Edit Deck Form</h1>

<div>
  <h4>Edit Deck</h4>
  <%= form_for(@deck, url: admin_deck_path) do |f| %>
    <strong>Current Title:</strong> <%= @deck.title %><br><br>
    <strong><%= f.label :title, "New Title:" %></strong>&nbsp;&nbsp;
    <%= f.text_field :title %><br><br>
    <strong>Current Description:</strong> <%= @deck.description %><br><br>
    <strong><%= f.label :description, "New Description" %></strong>&nbsp;&nbsp;
    <%= f.text_area :description, size: "30x10" %><br><br>
    <%= f.submit "Update Deck" %><br>
  <%end%>
</div>

<div>
  <%= button_to "Delete Deck", admin_deck_path, :method => "delete" %>
</div>

<hr>

<h1>Cards In Deck</h1>

<% @card_memberships.each do |card_membership| %>
  <% card = card_membership.card %>
  <p><%= card.prompt %></p>
  <%= button_to 'Delete', admin_card_membership_path(card_membership), method: :delete %>
<%end%>

<hr>

<h1>Cards Not In Deck</h1>

<% @cards_not_in_deck.each do |card| %>
  <p><%= card.prompt %></p>
  <%= form_for(@card_membership, :url => { controller: "admin/card_memberships", action: "create" }) do |f| %>
      <%= f.hidden_field :deck_id, value: @deck.id %>
      <%= f.hidden_field :card_id, value: card.id %>
    <%= f.submit "Add Card to Deck" %><br>
  <% end %>
<%end%>

<%= render '/layouts/footer'%>
