<div>
<h1>Edit Deck Form</h1>
<div>
<h4>Edit Deck</h4>
  <%= form_for(@deck, url: admin_deck_path) do |f| %>
    <strong>Current Title:</strong> <%= @deck.title %><br><br>
    <strong><%= f.label :title, "New Title:" %></strong>&nbsp;&nbsp;
    <%= f.text_field :title %><br><br>
    <strong>Current Description:</strong> <%= @deck.description %><br><br>
    <strong><%= f.label :description, "New Description" %></strong>&nbsp;&nbsp;
    <%= f.text_area :description, size: "30x10" %><br><br>
    <%= f.submit "Update Deck" %><br>
  <%end%>
</div>
<div>
  <%= button_to "Delete Card", admin_deck_path, :method => "delete" %>
</div>
<%= render '/layouts/footer'%>