<div>
<h1>New Deck Form</h1>
<!--<h2>admin/decks/new.html.erb</h2>-->
<div>
<h4>Import New Prompts</h4>
  <%= form_for(@deck, url: admin_decks_path) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_area :description, size: "30x10" %>
    <%= f.submit "Create Deck" %>
  <%end%>
</div>
<table>
  <tr>
    <td width="30%">
      <%= link_to "Create a Deck", new_admin_deck_path %>
    </td>
    <td width="30%">
      <%= link_to "View Decks", admin_decks_path %>
    </td>
  </tr>
</table>
