<h1>Edit Card Form</h1>
<div>
  <h4>Edit Prompt</h4>
  <%= form_for(@card, url: admin_card_path) do |f| %>
    <strong>Current min players:</strong> <%= @card.min_players %><br><br>
    <strong><%= f.label :min_players, "New Min Players:" %></strong>&nbsp;&nbsp;
    <%= f.text_field :min_players %><br><br>
    <strong>Current prompt:</strong> <%= @card.prompt %><br><br>
    <strong><%= f.label :prompt, "New Prompt:" %></strong>&nbsp;&nbsp;
    <%= f.text_area :prompt, size: "30x10" %><br><br>
    <%= f.submit "Update Card" %><br>
  <%end%>
</div>
<div>
  <%= button_to "Delete Card", admin_card_path, :method => "delete" %>
</div>
<%= render '/layouts/footer'%>
