<div>
<h1>New Card Form</h1>
<h2>admin/new.html.erb</h2>
<div>
<h4>Import New Prompts</h4>
  <%= form_for(@card, url: admin_cards_path) do |f| %>
  <%= f.label :prompt %>
  <%= f.text_field :prompt %>
  <%= f.submit "Create Card" %>
  <%end%>
</div>
<table>
  <tr>
    <td width="30%">
      <%= link_to "Create a Card", new_admin_card_path %>
    </td>
    <td width="30%">
      <%= link_to "View Cards", admin_cards_path %>
    </td>
  </tr>
</table>
