!!!
%html
  %head
    = favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'img/png'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %main
      %h1 Get Feqd
      = yield
      = render "admin/footer"
